html {
	height: 100% !important;
}
body {
	position: relative;
	height: 100%;
	font-size: 14px;
	color: #363940;
}
body .body {
	height: 100%;
}
.page {
  overflow: hidden;
  background-color: #fff;
  padding: 50px 0;
}
* {
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
}
*:focus { 
	outline: none !important;
	box-shadow: none !important;
}

/* Begin Fonts */
body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h6 {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 700;
	margin-bottom: 10px;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 26px;
}
h4 {
	font-size: 22px;
}
p {
	font: 14px/1.5em "Roboto";
}
/* End Fonts */


section {
	position: relative;
}
.page-loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background: #FFF url(../img/page-loader.gif) center center no-repeat;
}
.divider {
	width: 100%;
	height: 23px;
	background: url('../img/divider.png') no-repeat center center;
	margin: 5px 0 10px;
}
.parallax {
	position: relative;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
  	background-size: cover;
}


/* ===== Begin text colors ===== */ /* Theme main color */
.text-white { color: #FFF; }
.text-off-white { color: #e7e7e7;}


/* ===== Begin navbar ===== */


/* Navbar brand (logo) */

/* Navbar links */

/* Navbar dropdown */

/* Navbar inverse dropdown */

/* Navbar fixed */

/* Navbar transparent */
/* ===== End navbar ===== */


/* ===== Begin intro ===== */
/* Begin text carousel intro */
#text-carousel-intro-section {
	height: 100%;
}
#text-carousel-intro-section .container {
	height: 100%;
}
#text-carousel-intro-section .caption {
	position: relative;
	top: 50%;
	margin-top: -70px;
}
#text-carousel-intro-section .caption h1 {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 60px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
#text-carousel-intro-section .caption p {
	letter-spacing: 2px;
	font-size: 16px;
}
/* End text carousel intro */
/* ===== End intro ===== */


/* ===== Begin rotate boxes ===== */
/* Begin rotate box-1 */
.rotate-box-1, .rotate-box-2 {
	display: inline-block;
	margin: 30px 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
a.rotate-box-1 {
	text-decoration: none;
	color: #363940;
}
a.rotate-box-1:hover {
	color: #676D75;
}
.rotate-box-1 .rotate-box-icon {
	display: inline-block;
	text-align: center;
	margin-bottom: 15px;
	margin-right: 25px;
	margin-top: 10px;
	float:left;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.rotate-box-1.square-icon .rotate-box-icon, .rotate-box-2.square-icon .rotate-box-icon {
	width: 45px;
	height: 45px;
	line-height: 45px;
	color: #FFF !important;
	font-size: 18px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.rotate-box-1.square-icon .rotate-box-icon:after, .rotate-box-2.square-icon .rotate-box-icon:after {
	content: "";
	position: absolute;
	top: 3px;
	right: 3px;
	bottom: 3px;
	left: 3px;
	border: 2px solid #FFF;
}
.rotate-box-1:hover.square-icon .rotate-box-icon, .rotate-box-2:hover.square-icon .rotate-box-icon{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}
.rotate-box-1.square-icon .rotate-box-icon .fa, .rotate-box-2.square-icon .rotate-box-icon .fa{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.rotate-box-1:hover.square-icon .rotate-box-icon .fa, .rotate-box-2:hover.square-icon .rotate-box-icon .fa{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}
.rotate-box-1 h4, .rotate-box-2 h4 {
	font-weight: 400;
}
.rotate-box-1 p {
	padding: 0 10px;
}
.rotate-box-1 .rotate-box-info {
	padding-left: 60px;
}

/* End rotate box-1 */


/* Begin rotate box-2 */
.rotate-box-2 .rotate-box-icon {
	display: inline-block;
	text-align: center;
	margin-bottom: 15px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.rotate-box-2.square-icon .rotate-box-icon {
	width: 75px;
	height: 75px;
	line-height: 75px;
	font-size: 36px;
}

.rotate-box-2.square-icon .rotate-box-info {
	margin-top: 30px;
}
/* End rotate box-2 */
/* ===== End rotate boxes ===== */


/* ===== Begin progress bar ===== */
.skill-bar {
}
.progress {
	overflow: visible;
	height: 25px;
	margin-bottom: 20px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.progress-bar {
	font-size: 10px;
	line-height: 7px;
	text-align: right;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.progress-lebel h6{
	margin-bottom: 10px;
	letter-spacing: 2px;
}
/* ===== End progress bar ===== */


/* Begin cta section */
#cta-section {
	padding: 70px 0 80px;
}
.cta-btn {
	margin-top: 30px;
}
/* End cta section */


/* ===== Begin testimonial ===== */
/* ===== End testimonial ===== */


/* ===== Begin Portfolio===== */
.portfolio{}
.portfoloi_content_area{}
.portfolio_content{}
.portfolio_single_content{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	margin-bottom: 30px;
	overflow:hidden;
	
}
.portfolio_single_content:hover img{
	 -o-transform: scale(2);
	 -webkit-transform: scale(2);
	 -moz-transform: scale(2);
	 -ms-transform: scale(2);
	 transform: scale(2);
}
.portfolio_single_content img{
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	z-index: 6;
	cursor:pointer;
	-moz-transition:all 1s;
	-webkit-transition:all 1s;
	-o-transition:all 1s;
	-ms-transition:all 1s;
	transition:all 1s;
}
/*.portfolio_single_content:hover div+div{bottom: 0;}*/
.portfolio_single_content div{
	position:absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	text-align:center;
	transform:scale(0);
	transition:all .6s;
	opacity: 0;
}
.portfolio_single_content:hover div{
	transform:scale(1);
	opacity: 1;
}
.portfolio_single_content div a{
	color: #FFFFFF;
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin-top: 40%;
	padding-bottom: 10px;
	text-decoration: none;
	text-transform: uppercase;
}
.portfolio_single_content div span{
	color: #FFFFFF;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
.portfolio_content{}
.portfolio_content{
    margin-top: 36px;
    overflow: hidden;
}
/* ===== End Portfolio===== */


/* ===== Begin Counter-Up ===== */
/* ===== End Counter-Up ===== */


/* ===== Begin team ===== */
/* ===== End team ===== */


/* ===== Begin partners ===== */
/* ===== End partners ===== */


/* ===== Begin panels ===== */
/* ===== End panels ===== */

/* ===== Begin prices ===== */

/* panel-default */

/* price-box-featured */
/* ===== End prices ===== */


/* ===== Begin social ===== */
#social-section {
	padding: 80px 0;
}
ul.social-list {
	text-align: center;
	margin: 0 auto;
}
ul.social-list li{
	display: inline-block;
	margin-right: 20px;
}
ul.social-list li .rotate-box-1 {
	margin: 0;
}
/* ===== End social ===== */


/* ===== Begin contact ===== */
/* ===== End contact ===== */


/* ===== Begin footer ===== */
.footer {
	padding: 30px 0;
}
.footer a{
	text-decoration: none;
}

/*Widget1: Useful Links*/

/*Widget2: subscribe form*/

/*Widget3: twitter*/
/* ===== End footer ===== */


/* ===== Begin page header ===== */
.page-header {
	margin: 0 0 60px 0;
	padding: 0;
	border: none;
}
.page-header h2 {
	text-transform: uppercase;
}
p.subtitle {
	letter-spacing: 2px;
	margin-top: 10px;
}
/* ===== End page header ===== */


/* ===== Begin extra-space ===== */
.extra-space-l {
	width: 100%;
	height: 40px;
}
/* ===== End more-space ===== */


/* ===== Begin OWL carousel ===== */
.owl-carousel {
	cursor: e-resize;
}
/* ===== End OWL carousel ===== */


/* ===== Begin buttons ===== */
.btn {
	position: relative;
	letter-spacing: 1.5px;
	border: none;
}
.btn:active {
	top: 2px;
}

/* Button default */
.btn-default, .btn-default:focus, .btn-default:active {
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

/* Button blank */

/* Button active */
.btn:active {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.16);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.16);
}

/* Button large */
.btn-lg {
	font-size: 1.3em;
	padding: 10px 40px;
}


/* Scroll to top button */
.scrolltotop {
	position: fixed;
	display: none;
	bottom: 20px;
	right: 30px;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	text-decoration: none;
	z-index: 9999;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.scrolltotop .fa {
	padding-left: 4px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
/* ===== End buttons ===== */
